/*
Software Engineer: Luke Stencel
Date: 5/1/2020
Description: Stylesheet for my website,
learning to code better during the global pandemic.

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


$mainFontColor: white;
$mainBorderColor: #d4b64a;

%heading {
        color: $mainFontColor;
        text-align: center;
}

div{
        color: $mainFontColor;

        p {
          font-size: 1vw;
        }

        ol {
          font-size: 1.1vw;
        }

        ul{
          font-size: 1.2vw;
        }

}

h1 {
        @extend %heading;
        font-size: 4vw;
}

h2 {
        @extend %heading;
        font-size: 2.5vw;
}

#contactHref {
        text-decoration: underline;
        color: $mainFontColor;
}

#contactbody {

}

#aboutMeContainer {
        display: flex;
        flex-wrap: wrap;

}

#aboutMeContainerDiv {
        font-size: 1.75vw;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        width: 38%;
        align-self: center;
        align-items: center;
        justify: center;
        justify-content: center;
}

body {
        /*border-top-style: double;*/
        background-image: url(jtreebackground5.jpeg);
        /*background-position: top;*/
        background-repeat: no-repeat;
        background-color: #08363B;
        color: $mainFontColor;
        text-align: center;

        // Extra small devices (portrait phones, less than 576px)
        @media (max-width: 575.98px) {
          background-size: 150vh;
        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) and (max-width: 767.98px) {
          background-size: 150vh;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) and (max-width: 991.98px) {
          background-size: 150vh;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) and (max-width: 1199.98px) {
          background-size: 110vw;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
          background-size: 100vw;
        }
}

table {
        border: 5px solid $mainBorderColor;
        border-collapse: collapse;
        width: 70%;
}

th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
}

th {
        background-color: rgba(53,70,70,0.5);
}

.center {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
}

.photoBorder {
        border-width: 5px;
        border-style: solid;
        border-color: $mainBorderColor;

}

.container {
        display: flex;
        flex-wrap: wrap;
}

.container > div {

}

.carousel {
        width: 85%;
        height: 70%;
        margin: auto;
}

.carousel-inner {
        width: 80%;
        height: 100%;
        margin: auto;
}
